{% extends 'layouts/base-fullscreen.html' %} {% load static %} {% block title %}
Login {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary border-0 mb-0">
        
        <div class="card-header bg-transparent text-center px-5 py-4">
          <img
            src="{% static 'assets/img/brand/blue.png' %}"
            class="navbar-brand-img img-fluid"
            alt="Argon Design - Jinja Template Logo."
            style="max-width: 50%;"
          />
        </div>

        <div class="card-body px-lg-5 py-lg-4">
          <div class="text-center mb-4">
            <p>Ingrese sus credenciales</p>
            {% if form.non_field_errors %}
              <div class="alert alert-danger p-1">
                {% for error in form.non_field_errors %}
                  <small class="">{{ error }}</small>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          


          <form role="form" method="POST" action="{% url 'login' %}">
            {% csrf_token %}

            <div class="form-group mb-3">
              <div class="input-group input-group-merge input-group-alternative">

                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="ni ni-single-02"></i>
                  </span>
                </div>
                <input type="text" name="username" class="form-control" id="username" placeholder="Username">
              </div>
            </div>

            <div class="form-group">
              <div class="input-group input-group-merge input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="ni ni-lock-circle-open"></i>
                  </span>
                </div>
                <input type="password" name="password" class="form-control" id="password" placeholder="Contraseña" required>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary " type="button" id="togglePassword">
                    <i class="fa fa-eye text-primary"></i>
                  </button>
                </div>
              </div>
            </div>

            <script>
              document.getElementById('togglePassword').addEventListener('click', function () {
                const passwordField = document.getElementById('password');
                // Verifica el tipo actual y lo alterna
                const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordField.setAttribute('type', type);
                // Opcional: alternar el icono (por ejemplo, cambiar de ojo a ojo tachado)
                this.querySelector('i').classList.toggle('fa-eye-slash');
              });
            </script>

            <div class="custom-control custom-control-alternative custom-checkbox" >
              <input class="custom-control-input" id="customCheckLogin" type="checkbox" />
              <label class="custom-control-label" for="customCheckLogin">
                <span class="text-muted">Remember me</span>
              </label>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4">
                Login
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
