# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
*.mo
*.pyo
*.pyd
__pycache__/
local_settings.py
db.sqlite3
media

# Environments
.env
venv/
ENV/
env/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# Migrations
*/migrations/*

avance.txt
link.txt
templates/home/map.html