 {% load static %}

 <div class="card ">
        
        <img src="{{ book.photo.url }}" alt="Image placeholder" class="card-img-top" >
        
        <div class="card-body ">
          
          <div class="text-center mt-3 mb-0 pb-0">
            <a class="h2"  href="{% url 'book.show' book.id %}" target="_blank">
              {{ book.title|title }}
            </a>
            <br>
            <a class="h4 text-muted pb-3 mt-0" href="{% url 'author.show' book.author.id %}" target="_blank">
              {{ book.author.first_name|title }} {{ book.author.last_name|title }}
            </a>
            <h5 class="h5 text-muted pb-3 mt-0">
              {{ copy.code_internal }}
            </h5>
          </div>

          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center pt-0 pb-0">
                <div>
                  <span class="heading">{{count_loands}}</span>
                  <span class="description">no se xd</span>
                </div>
                <div>
                  <span class="heading">{{count_loands}}</span>
                  <span class="description">Total de veces prestado</span>
                </div>
                
              </div>
            </div>
          </div>
        </div>

      </div>