{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} no se {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap4.css" />
{% endblock stylesheets %}

{% block content %}


<div class="header bg-primary pb-6 zsd">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Datos de {{user.first_name}}</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="{% url 'index'%}"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item"><a href="{% url 'user.index'%}">Usuarios</a></li>
              <li class="breadcrumb-item active" aria-current="page">user</li>
            </ol>
          </nav>
        </div>
         <div class="col-lg-6 col-5 text-right">
          {% include 'components/modal_create_loan.html' with title='Registrar Prestamo' title_modal='Crear Nuevo Prestamo' modal_id='modal_create_loan' form=loan_form%}        
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row mx-2">
    <div class="col-xl-4 col-lg-5 col-md-6 order-xl-2 order-lg-2 order-md-2">
      
      {% include 'components/card_profile.html' %} 

      {% include 'components/table_preview.html' %} 
        

    </div>

    <div class="col-xl-8 col-lg-7 col-md-6 order-xl-1 order-lg-1">
        {% include 'components/form_update_user.html' with form_title='Editar Usuario' %}
    </div>

    <div class="col order-3">
      <div class="card px-5 pt-2 pb-5">
          
        <div class="card-header bg-transparent border-0">
          <h3 class="text-primary mb-3 text-xl col-6">{{ table.title }}</h3>
        </div>
        
        {% include 'components/data_table_loan.html' with table_id='tableUserexample' title=table.title headers=table.headers fields=table.fields data=table.data accions=table.accions %}
        

      </div>
    </div>
    
          
  </div>

  {% include "includes/footer.html" %}

</div>

{% block javascripts %}

  {% include "includes/scripts_data_table.html" %}
  <script>  
    
     $(document).ready(function () {
      if (!$.fn.DataTable.isDataTable('#tableUserexample')) {
          $('#tableUserexample').DataTable({
              scrollX: true
          });
      }
  });
  </script>

  <script>
        document.addEventListener('DOMContentLoaded', () => {
          const deleteButtons = document.querySelectorAll('.btn-delete');
          const deleteForm = document.getElementById('deleteForm');
            $('#tableUserexample tbody').on('click', '.delete-button', function () {
              deleteUrl = $(this).data('delete-url');
              const modal = new bootstrap.Modal(document.getElementById('deleteModal'));
              deleteForm.action = deleteUrl
              modal.show();
          });
        });

    </script>
{% endblock javascripts %}

{% endblock content %}

