{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} no se {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap4.css" />
{% endblock stylesheets %}

{% block content %}


<div class="header bg-primary pb-6 zsd">
  <div class="container-fluid">
    <div class="header-body">
      
      <div class="row align-items-center py-4">
        
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Datos de {{loan.code}}</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="{% url 'index'%}"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item"><a href="{% url 'loan.index'%}">Prestamos</a></li>
              <li class="breadcrumb-item active" aria-current="page">prestamo</li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <button  id="button_return" class=" btn btn-success btn-icon  return-button p-0 px-3 py-2" title="Retornar Prestamo" data-return-url="{% url 'loan.return' loan.id %}" {% if loan.return_date %} disabled  {% endif %}><i class="fas fa-undo" ></i> Retornar</button>
        
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'components/modal_return.html' with title_modal='Retornar Libro' modal_id='returnModal' form=form_return %}
<!-- Page content -->
<div class="container-fluid mt--6">
   <div class="position-relative right-0 mb-2 ml-4">
   {% if not loan.return_date %}
        {% if loan.due_date|date:"Y-m-d" < today|date:"Y-m-d" %}
            <span class="badge bg-yellow text-dark text-sm px-3"> <b> Atrasado </b></span>
        {% else %}
            <span class="badge bg-dark text-white text-sm px-3"> <b> Activo </b></span>
        {% endif %}
    {% else %}
        {% if loan.return_date|date:"Y-m-d" > loan.due_date|date:"Y-m-d" %}
            <span class="badge bg-danger text-white text-sm px-3"> <b> Devuelto tarde </b></span>
        {% else %}
            <span class="badge bg-success text-dark text-sm px-3"> <b> Devuelto </b></span>
        {% endif %}
        
    {% endif %}
  </div>
  <div class="row mx-2">
    <div class="col-xl-4 col-lg-5 col-md-6 order-xl-2 order-lg-2 order-md-2">
      
      {% include 'components/card_profile_loan.html' with user=loan.student %} 

      {% include 'components/card_copy_loan.html' with copy=loan.copy book=loan.copy.book %} 
         

    </div>

    <div class="col-xl-8 col-lg-7 col-md-6 order-xl-1 order-lg-1">
        {% include 'components/form_update_loan.html' with form_title='Editar Prestamos' %}
    </div>

     
          
  </div>

  {% include "includes/footer.html" %}

</div>

{% block javascripts %}
  <script>
        document.addEventListener('DOMContentLoaded', () => {
         
          const returnButton = document.getElementById('button_return');
          const returnForm = document.getElementById('returnForm');

          returnButton.addEventListener('click', () => {
            const returnUrl = returnButton.dataset.returnUrl;
            const modal_return = new bootstrap.Modal(document.getElementById('returnModal'));
            returnForm.action = returnUrl;
            modal_return.show();
          });
        });

</script>
{% endblock javascripts %}

{% endblock content %}

