{% extends "components/modal.html" %}
{% block modal_body %}
<form method="POST" action="{% url 'loan.create' %}" role="form" class="form text-left row"> 
    {% csrf_token %}

    <div class="form-group mb-5 col-12"> 
        <label class="form-label" for="{{ form.student.id_for_label }}">{{ form.student.label }}</label>
        <div class="input-group input-group-alternative">
             
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-email-83"></i></span>               
            </div>
             {{ form.student }}
        </div>      
    </div>



    <div class="form-group mb-5 col-12"> 
        <label class="form-label" for="{{ form.copy.id_for_label }}">{{ form.copy.label }}</label>
        <div class="input-group input-group-alternative">
             
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-email-83"></i></span>               
            </div>
             {{ form.copy }}
        </div>      
    </div>


    <div class="form-group mb-5 col-12"> 
        <label class="form-label" for="{{ form.comment.id_for_label }}">{{ form.comment.label }}</label>
        <div class="input-group input-group-alternative">
             
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-email-83"></i></span>               
            </div>
             {{ form.comment }}
        </div>      
    </div>

    <div class="form-group mb-5 col-12"> 
        <label class="form-label" for="{{ form.due_date.id_for_label }}">{{ form.due_date.label }}</label>
        <div class="input-group input-group-alternative">
             
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-email-83"></i></span>               
            </div>
             {{ form.due_date }}
        </div>      
    </div>


    <div class="form-group mb-3 col-12 col-md-3 ml-auto"> 
       
        <button type="submit" class="btn btn-primary mt-3 col-12">Registrar</button>
    </div>
</form>
{% endblock %}