<div class="card">
  <div class="card-header bg-transparent">
    <div class="row align-items-center">
      <div class="col">
        <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
        <h5 class="h3 mb-0">Total orders</h5>
      </div>
    </div>
  </div>
  <div class="card-body">
    <!-- Chart -->
    <div class="chart">
     <canvas id="xddxdx" class="chart-canvas"></canvas>
    </div>
  </div>
</div>

<script none='abc123'>
    document.addEventListener('DOMContentLoaded', function () {
        const etiquetas = {{ graphic_stack.labels|safe }};
        const conjuntos = {{ graphic_stack.datasets|safe }};
        
        console.log(etiquetas)
        console.log(conjuntos)
        // Llamar a la función de yopi.js
        createBarStackedChart('xddxdx', etiquetas, conjuntos);
    });
</script>